# 构建相关
build
thirdparty

# vscode相关
.vscode/*
!.vscode/launch.json

# 资源文件

# 杂项文件
*.ini
*.bkp
*.drawio

# 缓存文件
.cache

# hazel相关profile文件
HazelProfile*
hazel/vendor/VulkanSDK
scripts/__pycache__
hazel-editor/assets/cache