[submodule "hazel/vendor/spdlog"]
	path = hazel/vendor/spdlog
	url = https://github.com/gabime/spdlog
[submodule "hazel/vendor/glfw"]
	path = hazel/vendor/glfw
	url = https://github.com/glfw/glfw
[submodule "hazel/vendor/imgui"]
	path = hazel/vendor/imgui
	url = https://github.com/qihaichiaki/imgui.git
[submodule "hazel/vendor/glm"]
	path = hazel/vendor/glm
	url = https://github.com/g-truc/glm
[submodule "hazel/vendor/yaml-cpp"]
	path = hazel/vendor/yaml-cpp
	url = https://github.com/qihaichiaki/yaml-cpp
[submodule "hazel/vendor/ImGuizmo"]
	path = hazel/vendor/ImGuizmo
	url = https://github.com/qihaichiaki/ImGuizmo
